# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Django
*.log
db.sqlite3
media/

# Environment variables
.env

# React / Node
node_modules/
dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db