{%extends 'base.html' %}
{% block content %}


<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Get to know more on our business</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
                <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla viverra sodales venenatis. Ut velit nulla, ornare id augue at, auctor commodo mauris. Nunc at sem in magna euismod porttitor. Integer dignissim ex nulla, ac lacinia lacus egestas vitae. Duis in tellus lacinia, sodales justo sit amet, fermentum lorem. Nunc aliquam libero id rhoncus facilisis. Pellentesque porttitor massa a molestie facilisis. Quisque vitae cursus tellus, eu tristique mauris. Cras volutpat in ligula sit amet vulputate. Nullam eget venenatis orci. In hac habitasse platea dictumst. Nunc id maximus ex. Suspendisse lectus est, venenatis vitae metus id, fermentum porttitor mi. Aenean dignissim pulvinar arcu non venenatis. Nullam auctor convallis elit, eget suscipit risus consequat vel.<br/><br/>

                    Mauris pharetra dapibus urna, at eleifend risus aliquet eget. Vestibulum egestas nulla enim, non convallis mi rutrum non. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi vestibulum risus quis magna posuere, sit amet ornare nisi commodo. Praesent et porta lorem, ut blandit ipsum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus a scelerisque felis, ut volutpat mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus sodales auctor dolor nec venenatis.<br/><br/>

                    Etiam vel justo volutpat, condimentum quam et, pulvinar nisl. Aenean nisi libero, sollicitudin non lorem non, fringilla ullamcorper diam. Suspendisse pulvinar est sit amet lectus tempor lobortis vel dignissim nunc. Aenean in ipsum nec risus imperdiet vulputate. Cras et felis commodo velit fringilla semper eget vitae elit. Phasellus consequat, elit vitae vulputate facilisis, ante quam ornare tellus, a mollis augue turpis at metus. In mattis ligula in metus mattis faucibus. Fusce lobortis nunc scelerisque lectus bibendum dapibus. Proin pharetra, magna eget scelerisque tempor, quam nulla ultricies metus, vitae commodo nibh justo non eros. Aenean at posuere lorem.<br/><br/>

                    Ut ut urna magna. Curabitur lobortis nibh rutrum rutrum aliquam. Proin et pretium sapien. Ut consequat porta tellus vel suscipit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam vestibulum erat lobortis neque commodo, at aliquam diam ullamcorper. In dapibus, erat eu consectetur interdum, risus nisi aliquam dolor, in molestie enim purus ut nulla.<br/><br/>

                    Morbi at volutpat lorem. Integer posuere varius magna quis pulvinar. Fusce ante sapien, sagittis ut augue eget, tempor pharetra dolor. Cras interdum mauris nisl, vitae tristique arcu dapibus at. Donec eleifend sit amet lectus id tincidunt. Nullam auctor lobortis ipsum, ut interdum urna rhoncus ac. Nulla facilisi. Aliquam nec elit condimentum, egestas mi eget, dictum arcu. Praesent eget tincidunt ante, id placerat est. Donec sed tempor est. In finibus risus in erat dapibus, quis consequat elit mollis. Donec egestas blandit orci in bibendum. Integer imperdiet vestibulum magna quis euismod. Etiam at lectus cursus, pretium lacus in, convallis elit. Nam quis lorem quis orci ultrices malesuada a sit amet lectus. Integer dapibus nulla sit amet consequat eleifend.
                </p>
                <br/><br/>
            </div>
        </center>
    </div>
</div>

{% endblock %}